<ion-view hide-back-button="false" title="2048" id="2048Board" cache-view="false">
    <style>
        .grey {
            color: #666;
        }

        .popup-buttons .button-default {
            background-color: #387ef5;
            color: white;
        }

        .cell {
            font-size: 150%;
            float: left;
            text-align: center;
            font-size: 150%;
            background-color: #f5f5f5;
            color: white;
            border-radius: 2px;
        }

        .cell>span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }

        .cell3 {
            height: 28vw;
            margin: 1%;
            width: 31%;
            line-height: 28vw;
        }

        .cell4 {
            height: 20vw;
            margin: 1%;
            width: 23%;
            line-height: 19vw;
        }

        .cell6 {
            height: 12vw;
            margin: 1%;
            width: 14.5%;
            line-height: 11vw;
        }

        .cell8 {
            height: 9vw;
            margin: 1%;
            width: 10.5%;
            line-height: 8vw;
            font-size: 110%;
        }

        .noFloat {
            clear: both;
        }

        #board {
            width: 90%;
            height: 90%;
            margin: 0 auto;
        }

        .void {
            background-color: #f5f5f5;
            color: #f5f5f5;
        }

        ._2 {
            background-color: #8BC34A;
        }

        ._4 {
            background-color: #4CAF50;
        }

        ._8 {
            background-color: #009688;
        }

        ._16 {
            background-color: #00BCD4;
        }

        ._32 {
            background-color: #03A9F4;
        }

        ._64 {
            background-color: #2196F3;
        }

        ._128 {
            background-color: #3F51B5;
        }

        ._256 {
            background-color: #673AB7;
        }

        ._512 {
            background-color: #9C27B0;
        }

        ._1024 {
            background-color: #E91E63;
        }

        ._2048 {
            background-color: #f44336;
        }
    </style>

    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-android-settings" ng-click="openSettings()"></button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        <div class="row">
            <div class="col" style="text-align: center">Score<br>{{score}}</div>
            <div class="col" style="text-align: center">Record<br>{{record}}</div>
        </div>
        <div id="board" on-swipe-left="onSwipe('left')" on-swipe-right="onSwipe('right')" on-swipe-up="onSwipe('up')" on-swipe-down="onSwipe('down')"></div>
    </ion-content>

</ion-view>