<ion-view hide-back-button="false" title="clow" id="clowBoard" cache-view="false">
    <style>
        .grey {
            color: #666;
        }

        .cell {
            float: left;
            text-align: center;
            background-color: #f5f5f5;
            color: rgba(1, 1, 1, 0);
            border: 1px solid #f5f5f5;
            background-size: 100%;
            transform-style: preserve-3d;
            transform-origin: right center;
        }

        .cell3 {
            height: 28.5vw;
            width: 33%;
        }

        .cell4 {
            /* width: 25%;
            height: 21.5vw;
           */
        }

        .cell6 {
            height: 13.5vw;
            width: 16.5%;
        }

        .cell8 {
            height: 10.5vw;
            width: 12.5%;
        }

        .noFloat {
            clear: both;
        }

        .buttonClown {
            width: 80%;
            background-color: #387ef5;
            color: white;
        }

        #board {
            width: 100%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            border-radius: 3px;
        }


        #imgResult {
            text-align: center;
            transition: all 2s ease;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            border-radius: 3px;
        }
        /* FLIP */
        /* entire container, keeps perspective */

        .flip-container {
            perspective: 1000px;
        }
        /* flip the pane when hovered */
        /*
        .flip-container.hover .flipper {
            transform: rotateY(180deg);
        }
*/

        .flipping {
            transform: rotateY(180deg);
        }

        .flip-container,
        .front,
        .back {
            width: 100%;
            height: 480px;
        }
        /* flip speed goes here */

        .flipper {
            transition: 0.6s;
            transform-style: preserve-3d;

            position: relative;
        }
        /* hide back of pane during swap */

        .front,
        .back {
            backface-visibility: hidden;

            position: absolute;
            top: 0;
            left: 0;
        }
        /* front pane, placed above back */

        .front {
            z-index: 2;
            transform: rotateY(0deg);
        }
        /* back, initially hidden pane */

        .back {
            transform: rotateY(180deg);
        }

        .button:hover {
            color: white!important;
        }

        .popup-buttons .button-default {
            background-color: #387ef5;
            color: white;
        }
    </style>

    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-android-settings" ng-click="openSettings()"></button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        <div style="text-align:center">{{labelTimer}}</div>

        <div id="flip-container" class="flip-container" style="margin-top:10px;">
            <div id="flipper" class="flipper">
                <div class="front">
                    <!-- front content -->
                    <div id="imgResult"><img width="100%" ng-src="{{srcImg}}"></img>
                    </div>
                </div>
                <div class="back">
                    <!-- back content -->
                    <div id="board" on-swipe-left="onSwipe('left')" on-swipe-right="onSwipe('right')" on-swipe-up="onSwipe('up')" on-swipe-down="onSwipe('down')"></div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col" style="text-align: center;">
                <button class="button buttonClown icon ion-images" style="width: 90%" ng-click="flipImg()"></button>
            </div>
        </div>

    </ion-content>

</ion-view>