<ion-view hide-back-button="false" title="clow" id="clowBoard" cache-view="false">
    <style>
        .grey {
            color: #666;
        }

        .cell {
            float: left;
            text-align: center;
            background-color: #f5f5f5;
            color: rgba(1, 1, 1, 0);
            border: 1px solid #f5f5f5;
            background-size: 100%;
            transform-style: preserve-3d;
            transform-origin: right center;
        }

        .cell3 {
            height: 28.5vw;
            width: 33%;
        }

        .cell4 {
            /* width: 25%;
            height: 21.5vw;
           */
        }

        .cell6 {
            height: 13.5vw;
            width: 16.5%;
        }

        .cell8 {
            height: 10.5vw;
            width: 12.5%;
        }

        .noFloat {
            clear: both;
        }

        .buttonClown {
            width: 80%;
            background-color: #387ef5;
            color: white;
        }

        #board {
            width: 90%;
            margin: -333px auto;
        }


        #imgResult {
            text-align: center;
            transition: all 2s ease;
        }
        .goTo {
            margin-left: -50%!important;
        }
    </style>

    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-android-settings" ng-click="openSettings()"></button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">

        <div id="imgResult"><img width="100%" src="img/clow/split1/split1.jpeg"></img></div>
        <div id="board" on-swipe-left="onSwipe('left')" on-swipe-right="onSwipe('right')" on-swipe-up="onSwipe('up')" on-swipe-down="onSwipe('down')"></div>




        <!--
        <div id="imgResult"><img width="100%" src="img/clow/split1/split1.jpeg"></img></div>
        <div id="board" on-swipe-left="onSwipe('left')" on-swipe-right="onSwipe('right')" on-swipe-up="onSwipe('up')" on-swipe-down="onSwipe('down')"></div>
            ->>
        <div class="row">
            <div class="col" style="text-align: center;">
                <button class="button buttonClown icon ion-images"></button>
            </div>
            <div class="col" style="text-align: center;">
                <button class="button buttonClown icon ion-help"></button>
            </div>
        </div>

    </ion-content>

</ion-view>