<ion-view hide-back-button="false" title="clow" id="clowSelectLevel" cache-view="true">
    <style>
        .grey {
            color: #666;
        }

        .imgGrid {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            border-radius: 3px;
            transition: all .2s ease;
        }

        #imgBig{
            width: 60%;
        }

        .imgSelect {
            width: 80%!important;
            transform: translate(0, 15%);
        }

        .colum {
            background-color: #f5f5f5;
            line-height: 30px;
            height: 40px;
        }

        .colPressed {
            background-color: #387ef5;
            color: white;
        }
        
    </style>

    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-android-settings" ng-click="openSettings()"></button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        <div style="text-align: center; margin: 10px 0 10px 0;">
            <img id="imgBig" class="imgGrid" src="img/clow/split1/split1.jpeg"></img>
        </div>

        <div style="width: 100%">
            <div class="carouselClown" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
                <div class="col" ng-click="changeImage('1')"><img id="imgGrid1" class="imgGrid imgCarousel imgSelect" src="img/clow/split1/split1.jpeg"></img></div>
                <div class="col" ng-click="changeImage('2')"><img id="imgGrid2" class="imgGrid imgCarousel " src="img/clow/split2/split2.jpeg"></img></div>
                <div class="col" ng-click="changeImage('3')"><img id="imgGrid3" class="imgGrid imgCarousel" src="img/clow/split3/split3.jpeg"></img></div>
                <div class="col" ng-click="changeImage('4')"><img id="imgGrid4" class="imgGrid imgCarousel" src="img/clow/split4/split4.jpeg"></img></div>
                <div class="col" ng-click="changeImage('5')"><img id="imgGrid5" class="imgGrid imgCarousel" src="img/clow/split5/split5.jpeg"></img></div>
                <div class="col" ng-click="changeImage('6')"><img id="imgGrid6" class="imgGrid imgCarousel" src="img/clow/split6/split6.jpeg"></img></div>
                <div class="col" ng-click="changeImage('7')"><img id="imgGrid7" class="imgGrid imgCarousel" src="img/clow/split7/split7.jpeg"></img></div>
                <div class="col" ng-click="changeImage('8')"><img id="imgGrid8" class="imgGrid imgCarousel" src="img/clow/split8/split8.jpeg"></img></div>
            </div>
        </div>
        
        
        <div class="row" style="text-align: center; margin: 0px 0 20px 0;">
            <div id="b3" class="col colum" ng-click="changeLevel('3')">3x3</div>
            <div id="b4" class="col colum colPressed" ng-click="changeLevel('4')">4x4</div>
            <div id="b6" class="col colum" ng-click="changeLevel('6')">6x6</div>
            <div id="b8" class="col colum" ng-click="changeLevel('8')">8x8</div>
        </div>

        <button class="button button-block button-positive" ng-click="goToGame()"> {{play}} </button>
              
    </ion-content>

</ion-view>